@using TranscriptMGTSystem.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-box wow bounceInDown modal-content">
        <div class="content-box-header content-box-header-alt bg-default">
            <span class="icon-separator">
                <i class="glyph-icon icon-cog"></i>
            </span>
            <span class="header-wrapper">
               Transcript Management System
                <small>Login to your account.</small>
            </span>
            <span class="header-buttons">
                <a href="@Url.Action("Create","ApplicantTables")" class="btn btn-sm btn-primary" title="">Apply For Transcript</a>
            </span>
        </div>
        <div class="content-box-wrapper">
            <div class="form-group col-md-12">
                <div class="col-md-2"></div>
                <div class="input-group form-group col-md-8">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @placeholder = "Enter email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @*<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">*@
                    <span class="input-group-addon bg-blue">
                        <i class="glyph-icon icon-envelope-o"></i>
                    </span>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="form-group col-md-12">
                <div class="form-group input-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @type = "password", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    @*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">*@
                    <span class="input-group-addon bg-blue">
                        <i class="glyph-icon icon-unlock-alt"></i>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-12">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "col-md-1" })
                @Html.LabelFor(m => m.RememberMe, new { @class = "col-md-6" })
            </div>
            <div class="form-group col-md-12">
                <a href="@Url.Action("ForgotPassword","Account")" title="Recover password">Forgot Your Password?</a>
            </div>
            <button class="btn btn-success btn-block">Sign In</button>
        </div>
    </div>
}

<!-- WIDGETS -->

<script type="text/javascript" src="~/Content/assets/bootstrap/js/bootstrap.js"></script>



<script type="text/javascript" src="~/Content/assets/widgets/progressbar/progressbar.js"></script>


<script type="text/javascript" src="~/Content/assets/widgets/superclick/superclick.js"></script>

<!-- Input switch alternate -->

<script type="text/javascript" src="~/Content/assets/widgets/input-switch/inputswitch-alt.js"></script>

<!-- Slim scroll -->

<script type="text/javascript" src="~/Content/assets/widgets/slimscroll/slimscroll.js"></script>

<!-- Slidebars -->

<script type="text/javascript" src="~/Content/assets/widgets/slidebars/slidebars.js"></script>
<script type="text/javascript" src="~/Content/assets/widgets/slidebars/slidebars-demo.js"></script>

<!-- PieGage -->

<script type="text/javascript" src="~/Content/assets/widgets/charts/piegage/piegage.js"></script>
<script type="text/javascript" src="~/Content/assets/widgets/charts/piegage/piegage-demo.js"></script>

<!-- Screenfull -->

<script type="text/javascript" src="~/Content/assets/widgets/screenfull/screenfull.js"></script>

<!-- Content box -->

<script type="text/javascript" src="~/Content/assets/widgets/content-box/contentbox.js"></script>

<!-- Overlay -->

<script type="text/javascript" src="~/Content/assets/widgets/overlay/overlay.js"></script>

<!-- Widgets init for demo -->

<script type="text/javascript" src="~/Content/assets/js-init/widgets-init.js"></script>

<!-- Theme layout -->

<script type="text/javascript" src="~/Content/assets/themes/admin/layout.js"></script>

<!-- Theme switcher -->

<script type="text/javascript" src="~/Content/assets/widgets/theme-switcher/themeswitcher.js"></script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}